body {
    font-family: 'VT323', monospace;
    max-width: 93%
}

.headLine {
    max-width: 100%;
    height: 120px;
    background-color: #2C3639;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: #fff;
    }
}

main {

    .pokemonSearchInput {
        display: flex;
        justify-content: center;
        align-items: center;

        #pokemonSearch {
            margin-right: 10%;
        }
    }


    .pokemonList {



        

        .pokemon {
            display: flex;
            justify-content: space-evenly;

            &:hover {
                background-color: #F5F0BB;
    
            }

            .pokemonInfo {}

            .pokemonInfoHidden {
                display: none;

            }
        }
    }
}